@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hsl(148, 38%, 91%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "Karla", sans-serif;
    font-size: 16px;
}



.contact-form{

    width: 400px;
    min-height: 500px;
    background-color:  hsl(0, 0%, 100%);
    font-weight: 400;
    border-radius: 16px;
    padding: 32px; /*espacio dentro de la caja*/
    
   
    
 
}

.contact-form h1{

    color: hsl(169, 82%, 27%);
    margin: 0;
    margin-bottom: 32px; /*espacio fuera de la caja*/
    
    
}

.contact-form label{
    
    display: block;
    margin-bottom: 16px;
}

label input[type=text], 
label input[type=email], 
label textarea {
 
    display: flex;
    margin-top: 8px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid;
    padding: 16px;
    box-sizing: border-box;
    border: 1px solid hsl(186, 15%, 59%);

}

label span{
    display: none;
}

.row{

    display: flex;
    gap: 16px;
    
}


.options label {
    border: 1px solid hsl(186, 15%, 59%);
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
    padding: 12px 0;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    
}

input[type=radio]{
    margin: 0;
    
}

input[type=submit]{
    background-color: hsl(187, 24%, 22%);
    width: 100%;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: hsl(169, 83%, 18%);
}

.req {
  color: hsl(169, 82%, 27%);
  margin-left: 4px;
  font-weight: bold;
}
